<div class="thumb padding">
    <h3>Как стать автором?</h3>
    <aside>
        Опубликовать запись вы можете, получив <b>3</b> уровень профиля в "SL" пользуясь нашими <a href="#">сервисами</a>. Подробнее о получении уровня в "SL" вы можете посмотреть в этом <a href="#">разделе</a>.
    </aside>
    <a href="#" class="button">Опубликовать статью</a>
</div>